<div style="height: 100%;
    margin: 0;
	padding: 0;
	overflow: hidden;"  (click)="close($event)">
	<tui-island class="user_info_container">
		<!--<h1 style="text-align: center">Your Profile</h1>-->
		<tui-island class="user_info" *ngIf="isDesktop">
			<div class="user_info_row">
				<tui-avatar
					text="{{user?.userName}}"
					class="tui-space_top-1"
					[rounded]="true"
				></tui-avatar>
				<div class="user_name">
					<h2>{{user?.userName}}</h2>
				</div>
			</div>
			<div class="user_info_buttons">
				<button
					tuiButton
					[disabled]="false"
					class="tui__button"
					size="s"
					(click)="showEditUserNameDialog()"
				>
					Edit username
				</button>
				<button
					tuiButton
					[disabled]="false"
					class="tui__button"
					size="s"
					(click)="showEditQiwiNameDialog()"
				>
					Edit wallet
				</button>
				<button
					tuiButton
					[disabled]="false"
					class="tui__button"
					size="s"
					(click)="showChangePasswordDialog()"
				>
					Change password
				</button>
				<button
					tuiButton
					[disabled]="false"
					class="tui__button"
					size="s"
					(click)="googleLogIn()"
				>
					{{ !isLogged() ? 'G-Drive login' : 'G-Drive logout'}}
				</button>
			</div>
		</tui-island>
		<tui-island class="user_info_mobile" *ngIf="!isDesktop">
			<div class="user_info_row">
				<tui-avatar
					text="{{user?.userName}}"
					class="tui-space_top-1"
					[rounded]="true"
				></tui-avatar>
				<div class="user_name">
					<h2>{{user?.userName}}</h2>
				</div>
			</div>
			<div class="user_info_buttons_mobile">
				<button
					tuiButton
					[disabled]="false"
					class="tui__button"
					size="s"
					(click)="showEditUserNameDialog()"
				>
					Edit username
				</button>
				<button
					tuiButton
					[disabled]="false"
					class="tui__button"
					size="s"
					(click)="showEditQiwiNameDialog()"
				>
					Edit wallet
				</button>
				<button
					tuiButton
					[disabled]="false"
					class="tui__button"
					size="s"
					(click)="showChangePasswordDialog()"
				>
					Change password
				</button>
				<button
					tuiButton
					[disabled]="false"
					class="tui__button"
					size="s"
					(click)="googleLogIn()"
				>
					{{ !isLogged() ? 'G-Drive login' : 'G-Drive logout'}}
				</button>
			</div>
		</tui-island>
		<h2 style="text-align: center">Your Trips</h2>
		<tui-scrollbar class="trips_table">
			<table class="tui-table">
				<thead>
					<tr>
						<th tuiTh>№</th>
						<th tuiTh>Trip Name</th>
						<th tuiTh style="line-height: 225%;">
						Owner
							<button
								tuiIconButton
								appearance="flat"
								size="s"
								shape="rounded"
								icon="tuiIconChevronDown"
								(click)="open(content)"
							>
								<ng-template #content let-modal>
									<tui-island style="position: absolute;margin-top: -25%;margin-left: 55%" >
										<form [formGroup]="checkForm">
											<tui-checkbox-labeled formControlName="ownTrips">Show only trips which I created</tui-checkbox-labeled>
										</form>
									</tui-island>
								</ng-template>
							</button>
						</th>
					</tr>
				</thead>
				<tbody *ngFor="let tripInfo of trips; index as i">
					<tr *ngIf="!checkForm.get('ownTrips')?.value || tripInfo.owner.userId == user?.userId">
						<td style="width: 6rem;" tuiTd>
							<a style="line-height: 225%;" tuiLink routerLink="/trip-join/{{tripInfo.invite?.inviteId}}">{{i + 1}}
							</a>
							<button class="tooltip"
								tuiIconButton
								appearance="flat"
								size="s"
								shape="rounded"
								icon="tuiIconCopy"
								(click)="copy(tripInfo)"
							>
								<span class="tooltiptext" id=_{{tripInfo.trip.tripId}}>Copied!</span>
							</button>
						</td>
						<td tuiTd>{{tripInfo.trip.name}}</td>
						<td tuiTd>{{tripInfo.owner.userName}}</td>
					</tr>
				</tbody>
			</table>
		</tui-scrollbar>
	</tui-island>
</div>