@import '~@taiga-ui/core/styles/taiga-ui-local';


table {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 350px;
}
table tr th,
table tr td {
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding: 5px;
}

table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid #bbb;
}
table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid #bbb;
}
table tr th {
  background: #eee;
  text-align: left;
  border-top: solid 1px #bbb;
}

/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background: var(--tui-primary);
  color: var(--tui-base-01);
  text-align: center;
  border-radius: 0.25rem;
  margin-left: 4rem;
  margin-top: 4rem;
  padding: 0.7rem;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext.visible {
  visibility: visible;
}

.user_info_container {
  height: 80%;
  max-width: 72rem;
  margin: auto;
  
  display: flex;
  flex-flow: column;
  
  position: relative;
  top: 50%;
  transform: translateY(-50%); /* or try 50% */
  
  .shadow(3);
}

.trips_table {
  margin-top: 2rem;
  overflow: scroll;
  height: 100%;
}

.user_info {
  width: 36rem;
  height: 9rem;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--tui-base-01);
  background: var(--tui-support-10);
  .shadow(2);
  gar: 2rem;
}

.user_info_mobile {
  width: 18rem;
  height: 12rem;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--tui-base-01);
  background: var(--tui-support-10);
  .shadow(2);
  gar: 2rem;
}

.user_info_row {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.user_info_row > * {
  margin-right: 2rem;
}

.user_info_buttons {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 100%;
}

.user_info_buttons_mobile * {
  margin: 0.5rem;
}