@import '~@taiga-ui/core/styles/taiga-ui-local';


.trip_view__add_goal {
    max-width: 24rem;
    margin: auto;
	
	position: relative;
    top: 50%;
    transform: translateY(0%); /* or try 50% */
	
}

.form-title {
    text-align: center
}

.btn-submit {
    width: 100%;
}

.error {
	zoom: 1.2;
}

.success {
    position: relative;
    color: var(--tui-success-fill);
}


.user_info {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--tui-base-01);
  background: var(--tui-support-10);
  .shadow(2);
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}