<div class="trip_view__add_goal">
		<form [formGroup]="editForm" (ngSubmit)="onSubmit()" >
			<ng-template #success>
				<tui-svg src="tuiIconCheckLarge" class="success tui-space_left-3"></tui-svg>
			</ng-template>
			<h1 class="tui-text_h3 form-title">Add Goal</h1>
			<!--<p>
				<tui-input-number formControlName="moneyControl"
						   tuiHintContent="Money"
						   [tuiTextfieldCleaner]="false"
						   [tuiTextfieldCustomContent]="editForm.controls['moneyControl'].valid ? success : ''"
						   [(ngModel)]="goal.amount"
						   [postfix]="'RUB' | tuiCurrency"
				>
					Money&nbsp;<span class="tui-required"></span>
				</tui-input-number>
				<tui-field-error formControlName="moneyControl"></tui-field-error>
			</p>-->
			<div *ngFor="let user of participants">
				<tui-island class="user_info">
					<tui-avatar
						text="{{ user.userName }}"
						class="tui-space_top-1"
						[rounded]="true"
					></tui-avatar>
					<div class="user_name">
						<p>{{ user.userName }}</p>
					</div>
					<tui-input-number
						class="tui-col_md-5"
						tuiTextfieldSize="s"
						[postfix]="'RUB' | tuiCurrency"
						[(ngModel)]="user.sum"
						[ngModelOptions]="{standalone: true}"
					>
						sum
					</tui-input-number>
					<button tuiTab
						(click)="deleteParticipant(user)"
						*ngIf="participants.length > 1"
					>
						<tui-svg src="tuiIconCloseLarge" class="tui-space_right-2"></tui-svg>
					</button>
				</tui-island>
			</div>
			<div class="error">
				<tui-error [error]="error"
				>
					<br/>
				</tui-error>
			</div>
			<p>
				<button
					tuiButton
					type="submit"
					class="tui-form__button btn-submit"
					[disabled]="!editForm.valid"
				>
					Add
				</button>
			</p>
		</form>
	</div>