<div class="trip_view__edit_poi">
	<tui-tabs [(activeItemIndex)]="activeItemIndex" class="tabs" *ngIf="edit && interestingPlace.goal">
		<button tuiTab>
			<tui-svg src="tuiIconSettings" class="tui-space_right-2"></tui-svg>
			Properties
		</button>
		<button tuiTab>
			<tui-svg src="tuiIconCard" class="tui-space_right-2"></tui-svg>
			Money Goals
		</button>
	</tui-tabs>
		<div *ngIf="activeItemIndex == 1">
			<div *ngFor="let info0 of infos; index as i">
				<div style="display: flex; width: 100%; align-items: center; justify-content: space-between;">
					<h2>Goal {{i + 1}}</h2>
					<tui-money [value]="info0.amount" [colored]="true"></tui-money>
				</div>
				<div *ngFor="let info of info0.data">
					<tui-island class="user_info" *ngIf="info.length > 1">
						<tui-avatar
							text="{{ info[1] }}"
							class="tui-space_top-1"
							[rounded]="true"
						></tui-avatar>
						<div class="user_name">
							<p>{{ info[1] }}</p>
						</div>
						<tui-money [value]="info[0].sum" class="large" [singleColor]="true"></tui-money>
						<tui-tag class="tag owner_tag" value="paid" status="custom" *ngIf="info[0].paid"></tui-tag>
					</tui-island>
				</div>
			</div>
		</div>
		<form [formGroup]="editForm" (ngSubmit)="onSubmit()" *ngIf="activeItemIndex == 0">
			<ng-template #success>
				<tui-svg src="tuiIconCheckLarge" class="success tui-space_left-3"></tui-svg>
			</ng-template>
			<h1 class="tui-text_h3 form-title">{{ edit ? 'Edit Event' : 'Add Event' }}</h1>
			<p>
				<tui-input formControlName="placeNameControl"
						   tuiHintContent="Type event name"
						   [tuiTextfieldCleaner]="false"
						   [tuiTextfieldCustomContent]="editForm.controls['placeNameControl'].valid ? success : ''"
						   [(ngModel)]="interestingPlace.name"
				>
					Event Name&nbsp;<span class="tui-required"></span>
				</tui-input>
				<tui-field-error formControlName="placeNameControl"></tui-field-error>
			</p>
			<p>
				<tui-input-copy formControlName="placeDescControl"
						   tuiHintContent="Event description"
						   [tuiTextfieldCleaner]="false"
						   [tuiTextfieldCustomContent]="editForm.controls['placeDescControl'].valid ? success : ''"
						   [(ngModel)]="interestingPlace.desc"
						   [readOnly]="false"
				>
					Event Description&nbsp;<span class="tui-required"></span>
				</tui-input-copy>
				<tui-field-error formControlName="placeDescControl"></tui-field-error>
			</p>
			<p hidden>
				<tui-input formControlName="placeLatitudeControl"
						   tuiHintContent="Event latitude"
						   [tuiTextfieldCleaner]="false"
						   [tuiTextfieldCustomContent]="editForm.controls['placeLatitudeControl'].valid ? success : ''"
						   [(ngModel)]="interestingPlace.latitude"
						   [readOnly]="true"
				>
					Event Latitude&nbsp;<span class="tui-required"></span>
				</tui-input>
				<tui-field-error formControlName="placeLatitudeControl"></tui-field-error>
			</p>
			<p hidden>
				<tui-input formControlName="placeLongitudeControl"
						   tuiHintContent="Event longitude"
						   [tuiTextfieldCleaner]="false"
						   [tuiTextfieldCustomContent]="editForm.controls['placeLongitudeControl'].valid ? success : ''"
						   [(ngModel)]="interestingPlace.longitude"
						   [readOnly]="true"
				>
					Event Longitude&nbsp;<span class="tui-required"></span>
				</tui-input>
				<tui-field-error formControlName="placeLongitudeControl"></tui-field-error>
			</p>
			<p>
				<!--<tui-input formControlName="placeDurationControl"
						   tuiHintContent="Event duration"
						   [tuiTextfieldCleaner]="false"
						   [tuiTextfieldCustomContent]="editForm.controls['placeDurationControl'].valid ? success : ''"
						   [(ngModel)]="interestingPlace.duration"
				>
					Event Duration
				</tui-input>-->
				<tui-input-time
					formControlName="placeDurationControl"
					tuiHintContent="Event duration"
					[items]="items1"
				>
					Event duration
				</tui-input-time>
				<tui-field-error formControlName="placeDurationControl"></tui-field-error>
			</p>
			<p *ngIf="isLogged() && edit">
				<tui-input-file
					size="l"
					[multiple]="false"
					[(ngModel)]="files"
					formControlName="filesControl"
				></tui-input-file>
			</p>
			<div class="error">
				<tui-error [error]="error"
				>
					<br/>
				</tui-error>
			</div>
			<progress tuiProgressBar *ngIf="fileProgress > 0"
															[max]="100" 
															[value]="fileProgress"
															size="s"
															color="linear-gradient(to right, var(--tui-support-02), var(--tui-support-14), var(--tui-support-12))"
			>										
			</progress>
			<p>
				<button
					tuiButton
					type="submit"
					class="tui-form__button btn-submit"
					[disabled]="!editForm.valid || (fileProgress > 0)"
				>
					{{ edit ? 'Change' : 'Create' }}
				</button>
			</p>
			<p *ngIf="edit">
				<button
					tuiButton
					type="button"
					class="btn-submit dang"
					appearance="custom"
					(click)="delete()"
				>
					Delete event
				</button>
			</p>
		</form>
	</div>