<tui-island class="register_container">
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
	<ng-template #success>
		<tui-svg src="tuiIconCheckLarge" class="success tui-space_left-3"></tui-svg>
	</ng-template>
	<ng-template #template let-observer>
		<h1 class="form-title">Term of Service and Privacy Policy</h1>
		<tui-scrollbar class="tos_content">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ipsum leo, commodo vel tortor eget, pretium pharetra velit. Sed est urna, euismod vel facilisis elementum, ultricies fringilla odio. Aenean eget ligula quis odio vulputate suscipit non ut urna. Fusce egestas libero eu dapibus faucibus. Pellentesque vel dui a lectus lacinia sollicitudin. Nullam aliquet feugiat diam, et placerat leo tempus a. Sed quis laoreet magna. Praesent aliquet elit et mi fringilla, a sollicitudin mauris dapibus.</p>

<p>Morbi sit amet porta est. Pellentesque id orci eu neque bibendum efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam augue turpis, pharetra at rhoncus eget, venenatis eget velit. Nam justo elit, consectetur interdum bibendum id, blandit a diam. Nunc id urna quis metus egestas bibendum. Pellentesque accumsan, sapien eu gravida volutpat, tellus elit suscipit libero, lobortis hendrerit ante eros at nulla. Nullam non ante quis nisl vehicula pretium nec sed magna. Nullam a diam gravida, sollicitudin turpis iaculis, pulvinar massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

<p>Fusce vulputate vitae dui quis vulputate. Cras vitae facilisis nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce ullamcorper lacinia diam id condimentum. Nullam scelerisque molestie nibh, nec hendrerit massa congue sit amet. Maecenas velit urna, posuere eu bibendum non, feugiat ornare ipsum. Sed in massa justo.</p>

<p>Morbi libero augue, elementum eu metus at, tempor rhoncus dui. In vitae libero leo. Praesent convallis turpis et sapien sagittis, pretium gravida urna commodo. Duis elementum tortor id nibh vulputate, eu tristique lacus fringilla. Aenean mattis nulla sed dolor lobortis, a consectetur orci fermentum. Pellentesque rutrum consectetur pretium. Curabitur auctor nisi id dolor fringilla consectetur. Donec et orci at sem laoreet tincidunt ut eu magna. Phasellus ornare neque id risus rutrum pellentesque. Pellentesque porttitor luctus metus, sed facilisis magna accumsan eu. Mauris ac aliquam lectus, sit amet fermentum leo. Donec at ipsum id dolor imperdiet egestas. In ex nunc, vehicula eget accumsan sed, fermentum at odio. Curabitur tempor, tellus vitae consectetur accumsan, eros justo auctor ante, eu venenatis tortor orci vel ipsum. Sed aliquam semper tincidunt.</p>

<p>Etiam eros arcu, ultrices vel tristique nec, iaculis in felis. Vestibulum luctus diam ac orci euismod, at interdum nunc venenatis. Nam tincidunt, dolor a finibus semper, sem sem condimentum mi, id elementum augue velit et orci. Curabitur id ornare dui. Nullam elementum malesuada maximus. Sed sit amet mattis diam, vel tristique nunc. Nulla imperdiet risus molestie, elementum purus id, mattis erat. Praesent lacinia ante congue arcu imperdiet, id mollis libero blandit. Integer vitae sem odio. Donec non ornare metus. Suspendisse a vestibulum diam. Sed ut ligula eros.</p>
		</tui-scrollbar>
		<button tuiButton type="button" size="m" (click)="observer.complete()">
			Close
		</button>
	</ng-template>
	<h1 class="tui-text_h3 form-title">Registration</h1>
	<p>
		<tui-input formControlName="emailControl"
				   tuiHintContent="Address for contact"
				   [tuiTextfieldCleaner]="false"
				   [tuiTextfieldCustomContent]="registerForm.controls['emailControl'].valid ? success : ''"
				   [(ngModel)]="newUser.user.userMail"
		>
			Type an email&nbsp;<span class="tui-required"></span>
		</tui-input>
		<tui-field-error formControlName="emailControl"></tui-field-error>
	</p>
	<p>
		<tui-input formControlName="usernameControl"
				   tuiHintContent="A nickname"
				   [tuiTextfieldCleaner]="false"
				   [tuiTextfieldCustomContent]="registerForm.controls['usernameControl'].valid ? success : ''"
				   [(ngModel)]="newUser.user.userName"
		>
			Type a username&nbsp;<span class="tui-required"></span>
		</tui-input>
		<tui-field-error formControlName="usernameControl"></tui-field-error>
	</p>
	<p>
		<tui-input-password formControlName="passwordControl"
							tuiHintContent="A password"
							[tuiTextfieldCleaner]="false"
							[tuiTextfieldCustomContent]="registerForm.controls['passwordControl'].valid ? success : ''"
							[(ngModel)]="newUser.password"
		>
			Type a password&nbsp;<span class="tui-required"></span>
		</tui-input-password>
		<tui-field-error formControlName="passwordControl"></tui-field-error>
	</p>
	<p>
		<tui-input-password formControlName="passwordConfirmControl"
							tuiHintContent="A password confirmation"
							[tuiTextfieldCleaner]="false"
							[tuiTextfieldCustomContent]="registerForm.controls['passwordConfirmControl'].valid ? success : ''"
		>
			Confirm a password&nbsp;<span class="tui-required"></span>
		</tui-input-password>
		<tui-field-error formControlName="passwordConfirmControl"></tui-field-error>
	</p>
	<p>
		<div class="cb-agreement">
			<tui-checkbox-labeled formControlName="agreement">
				I agree with <a tuiLink (click)="showDialog(template)">Terms of Service and Privacy Policy</a>&nbsp;<span class="tui-required"></span>
			</tui-checkbox-labeled>
			<tui-field-error formControlName="agreement"></tui-field-error>
		</div>
	<div class="error">
		<tui-error [error]="error"
		>
			<br/>
		</tui-error>
	</div>
	<p>
		<button
			tuiButton
			type="submit"
			class="tui-form__button btn-submit"
			[disabled]="!registerForm.valid"
		>
			Sign up
		</button>
	</p>
	<p>
		<button
			tuiButton
			routerLink="/login"
			class="tui-form__button btn-submit"
			[disabled]="false"
		>
			Already registered? Login now!
		</button>
	</p>
	<!--<a tuiLink routerLink="/login">Already registered? Login now!</a>-->
</form>