@import '~@taiga-ui/core/styles/taiga-ui-local';


.register_container {
    max-width: 24rem;
    margin: auto;
	
	position: relative;
    top: 50%;
    transform: translateY(-50%); /* or try 50% */
	
	.shadow(3)
}

.form-title {
    text-align: center
}

.btn-submit {
    width: 100%;
}

.error {
	margin-top: 0.5rem;
	zoom: 1.2;
}

.success {
    position: relative;
    color: var(--tui-success-fill);
}

.tos_content {
    overflow: scroll;
	max-height: 70vh;
}
