<div class="trip_view_content" *ngIf="trip != null && isDesktop">
	<div class="map">
		<ya-map [center]="[trip.latitude, trip.longitude]" 
				[zoom]="15" 
				id="ya-map" 
				(yaclick)="mapClick($event)"
				(ready)="onMapReady($event)"
				[options]="{autoFitToViewport: 'always'}"
		>
			<ya-clusterer
			  *ngFor="let places of allPlaces"
			  [options]="{clusterIconColor: places.color, gridSize: 150, zIndex: 50}"
			>
				<ya-placemark *ngFor="let place of places.data.features"
							  [geometry]="[place.geometry.coordinates[1], place.geometry.coordinates[0]]"
							  [properties]="{iconCaption: place.properties.name}"
							  [options]="{iconColor: places.color, zIndex: 10, balloonContentLayout: getBaloonContentLayout(place)}"
				>
				</ya-placemark>
			</ya-clusterer>
			<div *ngFor="let poi of divisions; index as ind">
				<ya-placemark *ngIf="is_event(poi) && is_show_day(get_curr_day(ind))"
							  [geometry]="[poi.latitude, poi.longitude]"
							  [properties]="{balloonContent: poi.desc, iconCaption: poi.name, iconContent: get_event_index(poi, get_curr_day(ind)).toString()}"
							  [options]="{zIndex: 100, iconColor: colors[get_curr_day(ind)]}"
				>
				</ya-placemark>
			</div>
			<div >
				<ya-placemark *ngFor="let poi of getPicturedEvents(trip.events)"
							  [geometry]="[poi.latitude, poi.longitude]"
							  [properties]="{}"
							  [options]="{iconContentLayout: getIconContentLaout(poi), iconLayout: 'default#imageWithContent', iconImageHref: '',  iconImageSize: [32, 32], iconImageOffset: [-52, -42], balloonContentLayout: getGalleryContentLayout(poi)}"
				>
				</ya-placemark>
			</div>
			<div *ngFor="let g of gropped_divisions; index as ind">
				<ya-multiroute *ngIf="is_show_day(ind + 1)"
					[referencePoints]="getPoiGeos(g)"
					[model]="{ params: { routingMode: radioForm.get('testValue1')?.value } }"
					[options]="getOptions(ind + 1)"
				></ya-multiroute> 
			</div>
		</ya-map>
	</div>
	<tui-scrollbar class="trip_info" *ngIf="toggledInfo" #list>
		<div class="toggle_on">
			<button
				tuiIconButton
				type="button"
				appearance="icon"
				icon="tuiIconChevronRightLarge"
				class="toggle_btn"
				 (click)="toggleInfo()"
			></button>
			<h2 style="margin-top:1.075rem">Collapse</h2>
		</div>
		<div class="trip_info_content">
			<tui-tabs [(activeItemIndex)]="activeItemIndex" class="tabs">
				<button tuiTab>
					<tui-svg src="tuiIconFlag" class="tui-space_right-2"></tui-svg>
					Events
				</button>
				<button tuiTab>
					<tui-svg src="tuiIconPin" class="tui-space_right-2"></tui-svg>
					Places
				</button>
				<button tuiTab>
					<tui-svg src="tuiIconSettings" class="tui-space_right-2"></tui-svg>
					Settings
				</button>
				<button tuiTab>
					<tui-svg src="tuiIconCard" class="tui-space_right-2"></tui-svg>
					Payments
				</button>
			</tui-tabs>
			<tui-scrollbar class="cards_container" style="margin-top:-1.5rem" *ngIf="activeItemIndex == 3">
				<div style="display: flex; align-items: center; flex-direction: column; gap: 2rem;">
					<div>
						<h1 style="text-align: center;line-height: 1.5;">Payments</h1>
						<p *ngIf="payments.length == 0" style="text-align: center;">No payments yet</p>
					</div>
					<div style="margin-top:-2rem; display: flex; align-items: center; flex-direction: column; gap: 2rem;">
						<tui-island *ngFor="let user of payments" style="display: flex;justify-content: space-between;align-items: center; background: #fee797; width:24rem; height: 2rem">
							<button
												tuiButton
												size="m"
												(click)="contribute(user)"
							>
							Pay
							</button>
							<div style="display: flex;align-items: center;">
								<p>For</p>
								&nbsp;
								<b>{{ user[0].userName }}</b>
							</div>
							<tui-money [value]="user[1]" [colored]="true"></tui-money>
						</tui-island>
					</div>
				</div>
				<div style="display: flex; align-items: center; flex-direction: column; gap: 2rem;">
					<div>
						<h1 style="text-align: center;line-height: 1.5;">Debts</h1>
						<p *ngIf="debts.length == 0" style="text-align: center;">No debts yet</p>
					</div>
					<div style="margin-top:-2rem; display: flex; align-items: center; flex-direction: column; gap: 2rem;">
						<tui-island *ngFor="let user of debts" style="display: flex;justify-content: space-between;align-items: center; background: #fee797; width:24rem; height: 2rem">
							<tui-money [value]="user[1]" [colored]="true"></tui-money>
							<div style="display: flex;align-items: center;">
								<p>From</p>
								&nbsp;
								<b>{{ user[0].userName }}</b>
							</div>
						</tui-island>
					</div>
				</div>
			</tui-scrollbar>
			<tui-scrollbar class="cards_container" *ngIf="activeItemIndex == 1">
				<div style="margin-top:-1.5rem">
					<h1 style="text-align: center;line-height: 1.5;">Where do you want to go today?</h1>
				</div>
				<div class="" *ngFor="let poiType of types">
					<form [formGroup]="testForm"
					 style="width: 100%;margin-top: 2rem;"
					>
						<p>
							<div style="padding-left: 2rem; padding-right: 2rem; display: flex; flex-direction: row; justify-content:space-between; align-items: center;">
								<h2 style="margin: 0;padding: 0;">{{poiType.typeName}}</h2>
								&nbsp;
								<tui-toggle
													  (click)="setFilter(poiType)"
													  formControlName="{{poiType.typeColor}}"
													  size="l"
													  style="background: linear-gradient(to right, var(--tui-support-02), var(--tui-support-14), var(--tui-support-12)) !important;"
								>
								</tui-toggle>
							</div>
					</form>
				</div>
			</tui-scrollbar>
			<div class="cards_container" *ngIf="activeItemIndex == 0">
				<div>
					<div (cdkDropListDropped)="drop($event)" cdkDropList #cdkDropList cdkDropListOrientation="vertical">
						<div *ngFor="let poi of divisions; index as ind">
							<div [formGroup]="testForm2" 
								 *ngIf="!is_event(poi)"
								 style="width: 100%; margin-top: 2rem; "
							>
								<div style="display: flex; flex-direction: row; justify-content:space-between; align-items: center;">
									<h2 style="margin: 0;padding: 0;">Day {{poi}}</h2>
									&nbsp;
									<tui-toggle
											cdkDrag
											[cdkDragDisabled]="true"
											formControlName=_{{poi}}
											size="l"
											style="background: linear-gradient(to right, var(--tui-support-02), var(--tui-support-14), var(--tui-support-12)) !important;"
									>
									</tui-toggle>
								</div>
							</div>
							<tui-island *ngIf="is_event(poi) && is_show_day(get_curr_day(ind))" style="color: black; background: #f2f5f3" class="poi_item trip_info_item" cdkDrag>
								<div class="poi_header">
									<tui-tag style="color: #f2f5f3; background: {{colors[get_curr_day(ind)]}}" class="tag owner_tag" [value]="get_event_index(poi, get_curr_day(ind)).toString()" status="custom"></tui-tag>
									<h2>{{poi.name}}</h2>
									<button tuiTab
											(click)="editPoi(poi)"
											style="--tui-tab-margin: -0px;"
									>
										<tui-svg src="tuiIconDraft" class="tui-space_right-2"></tui-svg>
									</button>
								</div>
								<p>{{poi.desc}}</p>
								<div class="poi_info">
									<div *ngIf="poi.duration && poi.duration.length > 0">
										<tui-svg src="tuiIconTimeLarge" class="tui-space_right-2">
										</tui-svg>
										{{parse_time(poi)[0]}}:{{parse_time(poi)[1]}}
									</div>
									<div *ngIf="poi.goal && poi.goal.length > 0">
										<button tuiTab
											(click)="editPoi(poi, 1)"
											style="--tui-tab-margin: -0px;"
										>
											<tui-svg src="tuiIconCardsLarge" class="tui-space_right-2"
											>
											</tui-svg>
										</button>
									</div>
								</div>
								<div *ngIf="!poi.goal || true" class="goal_adder">
									<button tuiButton class="poi_item__goal_add"
											size="s"
											(click)="addGoal(poi)"
									>
										<tui-svg src="tuiIconPlus" class="tui-space_right-2"></tui-svg>
										Add money goal
									</button>
								</div>
								<div *ngIf="poi.fileIds">
									{{load_content(poi)}}
								</div>
							</tui-island>
						</div>
					</div>
					
					<div class="trip_info_item" style="display: flex; justify-content:center; ">
						<button
							tuiButton
							size="m"
							style="text-align: center"
							(click)="append_day_btn()"
						>
							Add Day
						</button>
					</div>
				</div>
			</div>
			<div *ngIf="activeItemIndex == 2">
				<div class="trip_info_item">
					<h1 style="text-align: center;">{{trip.name}}</h1>
				</div>
				<tui-island class="invitation trip_info_item">
					<h3 class="tui-island__title">Share trip with your friends!</h3>
					<tui-input-copy [readOnly]="true"
									[(ngModel)]="invitation"
					>
						Join Link
					</tui-input-copy>
				</tui-island>
				<div class="trip_info_item">
					<h2 style="text-align: center;">Participants</h2>
				</div>
				<tui-island class="user_info trip_info_item">
					<tui-avatar
						text="{{ owner.userName }}"
						class="tui-space_top-1"
						[rounded]="true"
					></tui-avatar>
					<div class="user_name">
						<p>{{ owner.userName }}</p>
						<tui-tag class="tag owner_tag" value="owner" status="custom"></tui-tag>
					</div>
				</tui-island>
				<div *ngFor="let user of users">
					<tui-island class="user_info trip_info_item">
						<tui-avatar
							text="{{ user.userName }}"
							class="tui-space_top-1"
							[rounded]="true"
						></tui-avatar>
						<div class="user_name">
							<p>{{ user.userName }}</p>
						</div>
					</tui-island>
				</div>
				<div class="trip_info_item">
				<h1 style="text-align: center;">Route Settings</h1>
					<div style="display: flex; flex-direction: column; gap: 1rem">
						<tui-input-number
							[(ngModel)]="hoursLimit"
						>
							Maximum duration of a day trip 
						</tui-input-number>
						<button tuiButton (click)="suggest()">
							Suggest Trip Plan
						</button>
					</div>
					<h2 style="text-align: center;">
						Select route type
					</h2>
					<form [formGroup]="radioForm" style="display: flex; flex-flow: column; gap: 0.5rem">
						<div
							tuiGroup
							class="group"
							[collapsed]="true"
						>
							<tui-radio-block
								formControlName="testValue1"
								[item]="items[0]"
							>
								Car
							</tui-radio-block>
							<tui-radio-block
								formControlName="testValue1"
								[item]="items[1]"
							>
								Transport
							</tui-radio-block>
							<tui-radio-block
								formControlName="testValue1"
								[item]="items[2]"
							>
								Walk
							</tui-radio-block>
						</div>
					</form>
					<h3>
						<a tuiButton
						  size="m"
						  class="poi_item__goal_add"
						  appearance="secondary"
						  [routerLink]="[]"
						  (click)="revokeInvitation()"
						   mode="positive"
						>Revoke invitation link</a>
					</h3>
					<h3>
						<a tuiButton 
						  size="m"
						  class="poi_item__goal_add dang"
						  appearance="custom"
						  [routerLink]="[]"
						  (click)="deleteTrip()"
						   mode="negative"
						>Delete trip</a>
					</h3>
				</div>
			</div>
		</div>
	</tui-scrollbar>
	<div class="trip_info_toggled" *ngIf="!toggledInfo">
		<button
			tuiIconButton
			type="button"
			appearance="icon"
			icon="tuiIconChevronLeftLarge"
			class="toggle_btn"
			(click)="toggleInfo()"
		></button>
	</div>
</div>
<div class="trip_view_content_mobile" *ngIf="trip != null && !isDesktop">
	<div class="map_mobile">
		<ya-map [center]="[trip.latitude, trip.longitude]" 
				[zoom]="15" 
				id="ya-map" 
				(yaclick)="mapClick($event)"
				(ready)="onMapReady($event)"
				[options]="{autoFitToViewport: 'always'}"
		>
			<ya-clusterer
			  *ngFor="let places of allPlaces"
			  [options]="{clusterIconColor: places.color, gridSize: 150, zIndex: 50}"
			>
				<ya-placemark *ngFor="let place of places.data.features"
							  [geometry]="[place.geometry.coordinates[1], place.geometry.coordinates[0]]"
							  [properties]="{iconCaption: place.properties.name}"
							  [options]="{iconColor: places.color, zIndex: 10, balloonContentLayout: getBaloonContentLayout(place)}"
				>
				</ya-placemark>
			</ya-clusterer>
			<div *ngFor="let poi of divisions; index as ind">
				<ya-placemark *ngIf="is_event(poi) && is_show_day(get_curr_day(ind))"
							  [geometry]="[poi.latitude, poi.longitude]"
							  [properties]="{balloonContent: poi.desc, iconCaption: poi.name, iconContent: get_event_index(poi, get_curr_day(ind)).toString()}"
							  [options]="{zIndex: 100, iconColor: colors[get_curr_day(ind)]}"
				>
				</ya-placemark>
			</div>
			<div >
				<ya-placemark *ngFor="let poi of getPicturedEvents(trip.events)"
							  [geometry]="[poi.latitude, poi.longitude]"
							  [properties]="{}"
							  [options]="{iconContentLayout: getIconContentLaout(poi), iconLayout: 'default#imageWithContent', iconImageHref: '',  iconImageSize: [32, 32], iconImageOffset: [-52, -42], balloonContentLayout: getGalleryContentLayout(poi)}"
				>
				</ya-placemark>
			</div>
			<div *ngFor="let g of gropped_divisions; index as ind">
				<ya-multiroute *ngIf="is_show_day(ind + 1)"
					[referencePoints]="getPoiGeos(g)"
					[model]="{ params: { routingMode: radioForm.get('testValue1')?.value } }"
					[options]="getOptions(ind + 1)"
				></ya-multiroute> 
			</div>
		</ya-map>
	</div>
	<tui-scrollbar class="trip_info_mobile" *ngIf="toggledInfo" #list>
		<div class="toggle_on">
			<button
				tuiIconButton
				type="button"
				appearance="icon"
				icon="tuiIconChevronDownLarge"
				class="toggle_btn"
				 (click)="toggleInfo()"
			></button>
			<h2 style="margin-top:1.075rem">Collapse</h2>
		</div>
		<div class="trip_info_content">
			<tui-tabs [(activeItemIndex)]="activeItemIndex" class="tabs">
				<button tuiTab>
					<tui-svg src="tuiIconFlag" class="tui-space_right-2"></tui-svg>
					Events
				</button>
				<button tuiTab>
					<tui-svg src="tuiIconPin" class="tui-space_right-2"></tui-svg>
					Places
				</button>
				<button tuiTab>
					<tui-svg src="tuiIconSettings" class="tui-space_right-2"></tui-svg>
					Settings
				</button>
				<button tuiTab>
					<tui-svg src="tuiIconCard" class="tui-space_right-2"></tui-svg>
					Payments
				</button>
			</tui-tabs>
			<tui-scrollbar class="cards_container" style="margin-top:-1.5rem" *ngIf="activeItemIndex == 3">
				<div style="display: flex; align-items: center; flex-direction: column; gap: 2rem;">
					<div>
						<h1 style="text-align: center;line-height: 1.5;">Payments</h1>
						<p *ngIf="payments.length == 0" style="text-align: center;">No payments yet</p>
					</div>
					<div style="margin-top:-2rem; display: flex; align-items: center; flex-direction: column; gap: 2rem;">
						<tui-island *ngFor="let user of payments" style="display: flex;justify-content: space-between;align-items: center; background: #fee797; width:24rem; height: 2rem">
							<button
												tuiButton
												size="m"
												(click)="contribute(user)"
							>
							Pay
							</button>
							<div style="display: flex;align-items: center;">
								<p>For</p>
								&nbsp;
								<b>{{ user[0].userName }}</b>
							</div>
							<tui-money [value]="user[1]" [colored]="true"></tui-money>
						</tui-island>
					</div>
				</div>
				<div style="display: flex; align-items: center; flex-direction: column; gap: 2rem;">
					<div>
						<h1 style="text-align: center;line-height: 1.5;">Debts</h1>
						<p *ngIf="debts.length == 0" style="text-align: center;">No debts yet</p>
					</div>
					<div style="margin-top:-2rem; display: flex; align-items: center; flex-direction: column; gap: 2rem;">
						<tui-island *ngFor="let user of debts" style="display: flex;justify-content: space-between;align-items: center; background: #fee797; width:24rem; height: 2rem">
							<tui-money [value]="user[1]" [colored]="true"></tui-money>
							<div style="display: flex;align-items: center;">
								<p>From</p>
								&nbsp;
								<b>{{ user[0].userName }}</b>
							</div>
						</tui-island>
					</div>
				</div>
			</tui-scrollbar>
			<tui-scrollbar class="cards_container" *ngIf="activeItemIndex == 1">
				<div style="margin-top:-1.5rem">
					<h1 style="text-align: center;line-height: 1.5;">Where do you want to go today?</h1>
				</div>
				<div class="" *ngFor="let poiType of types">
					<form [formGroup]="testForm"
					 style="width: 100%;margin-top: 2rem;"
					>
						<p>
							<div style="padding-left: 2rem; padding-right: 2rem; display: flex; flex-direction: row; justify-content:space-between; align-items: center;">
								<h2 style="margin: 0;padding: 0;">{{poiType.typeName}}</h2>
								&nbsp;
								<tui-toggle
													  (click)="setFilter(poiType)"
													  formControlName="{{poiType.typeColor}}"
													  size="l"
													  style="background: linear-gradient(to right, var(--tui-support-02), var(--tui-support-14), var(--tui-support-12)) !important;"
								>
								</tui-toggle>
							</div>
					</form>
				</div>
			</tui-scrollbar>
			<div class="cards_container" *ngIf="activeItemIndex == 0">
				<div>
					<div (cdkDropListDropped)="drop($event)" cdkDropList #cdkDropList cdkDropListOrientation="vertical">
						<div *ngFor="let poi of divisions; index as ind">
							<div [formGroup]="testForm2" 
								 *ngIf="!is_event(poi)"
								 style="width: 100%; margin-top: 2rem; "
							>
								<div style="display: flex; flex-direction: row; justify-content:space-between; align-items: center;">
									<h2 style="margin: 0;padding: 0;">Day {{poi}}</h2>
									&nbsp;
									<tui-toggle
											cdkDrag
											[cdkDragDisabled]="true"
											formControlName=_{{poi}}
											size="l"
											style="background: linear-gradient(to right, var(--tui-support-02), var(--tui-support-14), var(--tui-support-12)) !important;"
									>
									</tui-toggle>
								</div>
							</div>
							<tui-island *ngIf="is_event(poi) && is_show_day(get_curr_day(ind))" style="color: black; background: #f2f5f3" class="poi_item trip_info_item" cdkDrag>
								<div class="poi_header">
									<tui-tag style="color: #f2f5f3; background: {{colors[get_curr_day(ind)]}}" class="tag owner_tag" [value]="get_event_index(poi, get_curr_day(ind)).toString()" status="custom"></tui-tag>
									<h2>{{poi.name}}</h2>
									<button tuiTab
											(click)="editPoi(poi)"
											style="--tui-tab-margin: -0px;"
									>
										<tui-svg src="tuiIconDraft" class="tui-space_right-2"></tui-svg>
									</button>
								</div>
								<p>{{poi.desc}}</p>
								<div class="poi_info">
									<div *ngIf="poi.duration && poi.duration.length > 0">
										<tui-svg src="tuiIconTimeLarge" class="tui-space_right-2">
										</tui-svg>
										{{parse_time(poi)[0]}}:{{parse_time(poi)[1]}}
									</div>
									<div *ngIf="poi.goal && poi.goal.length > 0">
										<button tuiTab
											(click)="editPoi(poi, 1)"
											style="--tui-tab-margin: -0px;"
										>
											<tui-svg src="tuiIconCardsLarge" class="tui-space_right-2"
											>
											</tui-svg>
										</button>
									</div>
								</div>
								<div *ngIf="!poi.goal || true" class="goal_adder">
									<button tuiButton class="poi_item__goal_add"
											size="s"
											(click)="addGoal(poi)"
									>
										<tui-svg src="tuiIconPlus" class="tui-space_right-2"></tui-svg>
										Add money goal
									</button>
								</div>
								<div *ngIf="poi.fileIds">
									{{load_content(poi)}}
								</div>
							</tui-island>
						</div>
					</div>
					
					<div class="trip_info_item" style="display: flex; justify-content:center; ">
						<button
							tuiButton
							size="m"
							style="text-align: center"
							(click)="append_day_btn()"
						>
							Add Day
						</button>
					</div>
				</div>
			</div>
			<div *ngIf="activeItemIndex == 2">
				<div class="trip_info_item">
					<h1 style="text-align: center;">{{trip.name}}</h1>
				</div>
				<tui-island class="invitation trip_info_item">
					<h3 class="tui-island__title">Share trip with your friends!</h3>
					<tui-input-copy [readOnly]="true"
									[(ngModel)]="invitation"
					>
						Join Link
					</tui-input-copy>
				</tui-island>
				<div class="trip_info_item">
					<h2 style="text-align: center;">Participants</h2>
				</div>
				<tui-island class="user_info trip_info_item">
					<tui-avatar
						text="{{ owner.userName }}"
						class="tui-space_top-1"
						[rounded]="true"
					></tui-avatar>
					<div class="user_name">
						<p>{{ owner.userName }}</p>
						<tui-tag class="tag owner_tag" value="owner" status="custom"></tui-tag>
					</div>
				</tui-island>
				<div *ngFor="let user of users">
					<tui-island class="user_info trip_info_item">
						<tui-avatar
							text="{{ user.userName }}"
							class="tui-space_top-1"
							[rounded]="true"
						></tui-avatar>
						<div class="user_name">
							<p>{{ user.userName }}</p>
						</div>
					</tui-island>
				</div>
				<div class="trip_info_item">
				<h1 style="text-align: center;">Route Settings</h1>
					<div style="display: flex; flex-direction: column; gap: 1rem">
						<tui-input-number
							[(ngModel)]="hoursLimit"
						>
							Maximum duration of a day trip 
						</tui-input-number>
						<button tuiButton (click)="suggest()">
							Suggest Trip Plan
						</button>
					</div>
					<h2 style="text-align: center;">
						Select route type
					</h2>
					<form [formGroup]="radioForm" style="display: flex; flex-flow: column; gap: 0.5rem">
						<div
							tuiGroup
							class="group"
							[collapsed]="true"
						>
							<tui-radio-block
								formControlName="testValue1"
								[item]="items[0]"
							>
								Car
							</tui-radio-block>
							<tui-radio-block
								formControlName="testValue1"
								[item]="items[1]"
							>
								Bus
							</tui-radio-block>
							<tui-radio-block
								formControlName="testValue1"
								[item]="items[2]"
							>
								Walk
							</tui-radio-block>
						</div>
					</form>
					<h3>
						<a tuiButton
						  size="m"
						  class="poi_item__goal_add"
						  appearance="secondary"
						  [routerLink]="[]"
						  (click)="revokeInvitation()"
						   mode="positive"
						>Revoke invitation link</a>
					</h3>
					<h3>
						<a tuiButton 
						  size="m"
						  class="poi_item__goal_add dang"
						  appearance="custom"
						  [routerLink]="[]"
						  (click)="deleteTrip()"
						   mode="negative"
						>Delete trip</a>
					</h3>
				</div>
			</div>
		</div>
	</tui-scrollbar>
	<div class="trip_info_toggled_mobile" *ngIf="!toggledInfo">
		<button
			tuiIconButton
			type="button"
			appearance="icon"
			icon="tuiIconChevronUpLarge"
			class="toggle_btn"
			(click)="toggleInfo()"
		></button>
	</div>
</div>