@import '~@taiga-ui/core/styles/taiga-ui-local';


.trip_view_content {
  height: ~'calc(100% - 0.3rem)';
  padding-top: 0.3rem;
  display: flex;
  flex-flow: row;
}

.map {
  flex-grow: 1;
  height: 100%;
  max-width: 100%;
  width: 70%;
  padding-right: 0.1rem;
}

.trip_info {
  height: 100%;
  width: 30%;
  max-width: 30%;
  overflow: scroll;
  .inset-border(left, var(--tui-text-01));
  
  display: flex;
  flex-flow: row;
}

.toggle_on {
  height: 100%;
  width: 10%;
  display: flex;
  flex-flow: row;
}

.trip_info_toggled {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 7%;
  width: 7%;
}

.trip_view_content_mobile {
  height: ~'calc(100% - 0.3rem)';
  padding-top: 0.3rem;
  display: flex;
  flex-flow: column;
}

.map_mobile {
  flex-grow: 1;
  width: 100%;
  max-height: 100%;
  height: 20%;
  padding-right: 0.1rem;
}

.trip_info_mobile {
  width: 100%;
  max-height: 80%;
  height: 80%;
  overflow: scroll;
  .inset-border(left, var(--tui-text-01));
}

.trip_info_toggled_mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 10%;
  height: 10%;
}

.toggle_btn
{
  display: table;
  margin: auto;
}

.cards_container {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: space-between;
  gap: 2rem;
  overflow-y: auto;
  overflow-x: auto;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
}

.trip_info_item {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

.place_item {
  display: flex;
  align-items: center;
  flex-flow: row;
  width: 100%;
  margin: 0.5rem;
}

.place_item > * {
  padding-bottom: 1rem;
}

.poi_item {
  width: 16rem;
  /*min-height: 4rem;*/
  /*max-height: 40rem;*/
  text-align: center;
  color: var(--tui-base-01);
  background: var(--tui-support-13);
  .shadow(2)
}

.poi_item .poi_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.poi_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: -1rem;
  padding-bottom: 1rem;
}

.poi_item .poi_creator {
  display: flex;
  flex-flow: row;
  gap: 1rem;
  justify-content: stretch;
  align-items: center;
  margin-top: -1rem;
  margin-bottom: -1rem;
  width: 100%
}

.poi_item__goal_add {
  width: 100%;
  margin: auto;
}

.poi_item__goal_contribute_form {
  margin-top: 1rem;
  display: flex;
  flex-flow: row;
}

.goal_contribute_form__input {
  flex-grow: 1;
  margin-top: 0.25rem;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  background: var(--tui-support-10);
  
  .goal_adder {
	display: none;
  }
}

.cdk-drag-placeholder {
  background: var(--tui-support-14);
}

.invitation {
  width: 16rem;
  height:  8rem;
  color: var(--tui-base-01);
  background: var(--tui-support-07);
  .shadow(2);
  
  display: flex;
  flex-flow: column;
}

.user_info {
  width: 16rem;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  color: var(--tui-base-01);
  background: var(--tui-support-10);
  .shadow(2);
}

.user_name {
  display: flex;
}

.user_name > p {
  width: 100%;
  text-align: center;
}

.owner_tag {
  height: 1.5rem;
  background: var(--tui-support-08);
}

.dang {
	background: var(--tui-negative);
	color: var(--tui-text-01-night);
}