<tui-island class="login_container">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
	<ng-template #success>
		<tui-svg src="tuiIconCheckLarge" class="success tui-space_left-3"></tui-svg>
	</ng-template>
	<h1 class="tui-text_h3 form-title">Login</h1>
	<p>
		<tui-input formControlName="emailControl"
				   tuiHintContent="Email for Login"
				   [tuiTextfieldCleaner]="false"
				   [tuiTextfieldCustomContent]="loginForm.controls['emailControl'].valid ? success : ''"
				   [(ngModel)]="authUser.userMail"
		>
			Type an email&nbsp;<span class="tui-required"></span>
		</tui-input>
		<tui-field-error formControlName="emailControl"></tui-field-error>
	</p>
	<p>
		<tui-input-password formControlName="passwordControl"
							tuiHintContent="A password"
							[tuiTextfieldCleaner]="false"
							[tuiTextfieldCustomContent]="loginForm.controls['passwordControl'].valid ? success : ''"
							[(ngModel)]="authUser.password"
		>
			Type a password&nbsp;<span class="tui-required"></span>
		</tui-input-password>
		<tui-field-error formControlName="passwordControl"></tui-field-error>
	</p>
	<div class="error">
		<tui-error [error]="error"
		></tui-error>
	</div>
	<p>
		<button
			tuiButton
			type="submit"
			class="tui-form__button btn-submit"
			[disabled]="!loginForm.valid"
		>
			Sign in
		</button>
	</p>
	<p>
		<button
			tuiButton
			routerLink="/register"
			class="tui-form__button btn-submit"
			[disabled]="false"
		>
			Don't have an account? Create now!
		</button>
	</p>
	<!--<a tuiLink routerLink="/register">Don't have an account? Create now!</a>-->
</form>