<div class="user_info__change_password">
		<form [formGroup]="editForm" (ngSubmit)="onSubmit()" >
			<ng-template #success>
				<tui-svg src="tuiIconCheckLarge" class="success tui-space_left-3"></tui-svg>
			</ng-template>
			<h1 class="tui-text_h3 form-title">Change Password</h1>
			<p>
				<tui-input-password formControlName="passwordControl"
						   tuiHintContent="Type your new password"
						   [tuiTextfieldCleaner]="false"
						   [tuiTextfieldCustomContent]="editForm.controls['passwordControl'].valid ? success : ''"
						   [(ngModel)]="user.password"

				>
					New Password&nbsp;<span class="tui-required"></span>
				</tui-input-password>
				<tui-field-error formControlName="passwordControl"></tui-field-error>
			</p>
			<p>
				<tui-input-password formControlName="passwordConfirmControl"
						   tuiHintContent="Confirm your new password"
						   [tuiTextfieldCleaner]="false"
						   [tuiTextfieldCustomContent]="editForm.controls['passwordConfirmControl'].valid ? success : ''"

				>
					Confirm Password&nbsp;<span class="tui-required"></span>
				</tui-input-password>
				<tui-field-error formControlName="passwordConfirmControl"></tui-field-error>
			</p>
			<div class="error">
				<tui-error [error]="error"
				>
					<br/>
				</tui-error>
			</div>
			<p>
				<button
					tuiButton
					type="submit"
					class="tui-form__button btn-submit"
					[disabled]="!editForm.valid"
				>
					Confirm
				</button>
			</p>
		</form>
	</div>