	<div class="container">
					<tui-island class="city">
						<p class="tui-island__category">Россия</p>
						<h3 class="tui-island__title">Воронеж</h3>
						<p class="tui-island__paragraph">
							Воронеж — сердце Черноземья,<br/>
							колыбель российского мореплавания
						</p>
						<img class="citypic" src="assets/images/vrn.png" />
						<p class="tui-island__paragraph tui-island__paragraph_link">
							<a tuiLink routerLink="/trip-create" tuiLink>Go on trip!</a>
						</p>
					</tui-island>
					<tui-island class="city">
						<p class="tui-island__category">Россия</p>
						<h3 class="tui-island__title">Москва</h3>
						<p class="tui-island__paragraph">
							Москва — столица России,<br/>
							третий Рим
						</p>
						<img class="citypic" src="assets/images/msk.png" />
						<p class="tui-island__paragraph tui-island__paragraph_link">
							<a tuiLink routerLink="/trip-create" tuiLink>Go on trip!</a>
						</p>
					</tui-island>
					<tui-island class="city">
						<p class="tui-island__category">Великобритания</p>
						<h3 class="tui-island__title">Лондон</h3>
						<p class="tui-island__paragraph">
							London is the capital of great britain...
						</p>
						<br/>
						<img class="citypic" src="assets/images/gbc.png" />
						<p class="tui-island__paragraph tui-island__paragraph_link">
							<a tuiLink routerLink="/trip-create" tuiLink>Go on trip!</a>
						</p>
					</tui-island>
					<tui-island class="city">
						<p class="tui-island__category">Россия</p>
						<h3 class="tui-island__title">Санкт-Петербург</h3>
						<p class="tui-island__paragraph">
							Город-герой Ленинград,<br/>
							культурная столица России
						</p>
						<img class="citypic" src="assets/images/spb.png" />
						<p class="tui-island__paragraph tui-island__paragraph_link">
							<a tuiLink routerLink="/trip-create" tuiLink>Go on trip!</a>
						</p>
					</tui-island>
	</div>