@import '~@taiga-ui/core/styles/taiga-ui-local';


.container {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
	overflow-y: auto;
}

.city {
    width: 32rem;
	height: 20rem;
    margin: 2rem;
	background: var(--tui-neutral-bg);
	.shadow(2);
}

.citypic {
    padding: 2rem 0 0;
	margin-left: -1rem;
	margin-right: -1rem;
    width: 34rem;
	height: 8rem;
}
