<tui-island class="trip_create_container">
<form [formGroup]="tripForm" (ngSubmit)="onSubmit()" >
	<ng-template #success>
		<tui-svg src="tuiIconCheckLarge" class="success tui-space_left-3"></tui-svg>
	</ng-template>
	<h1 class="tui-text_h3 form-title">New Trip</h1>
	<p>
		<tui-input formControlName="tripNameControl"
				   tuiHintContent="Type a name for your new trip"
				   [tuiTextfieldCleaner]="false"
				   [tuiTextfieldCustomContent]="tripForm.controls['tripNameControl'].valid ? success : ''"
				   [(ngModel)]="trip.name"

		>
			Trip Name&nbsp;<span class="tui-required"></span>
		</tui-input>
		<tui-field-error formControlName="tripNameControl"></tui-field-error>
	</p>
	<div class="error">
		<tui-error [error]="error"
		>
			<br/>
		</tui-error>
	</div>
	<p>
		<button
			tuiButton
			type="submit"
			class="tui-form__button btn-submit"
			[disabled]="!tripForm.valid"
		>
			Create
		</button>
	</p>
</form>