<form [formGroup]="form">	
	<tui-input formControlName="subjectControl"
			   tuiHintContent="Region name"
			   [tuiTextfieldCleaner]="true"
			   [(ngModel)]="subjectFilter"
	>
			Filter Region&nbsp;
	</tui-input>
</form>
<div>
    <ngx-spinner
    bdOpacity = 0.9
    size = "default"
    color = "#581f87"
    type = "ball-pulse-sync"
    [fullScreen] = "false"
    >
    </ngx-spinner>
</div>
<div class="container"
	infiniteScroll
	[infiniteScrollDistance]="2"
	[infiniteScrollThrottle]="50"
	(scrolled)="onScroll()"
    [scrollWindow]="false"
	*ngIf="isDesktop"
>
					<tui-island class="city" *ngFor="let subject of getFilteredSubjects()">
						<p class="tui-island__category">Russia</p>
						<h3 class="tui-island__title">{{subject.name}}</h3>
						<div class="citypic__container">
							<img class="citypic" src="{{subject.pic}}" />
						</div>
						<p class="tui-island__paragraph">
							{{subject.desc}}
						</p>
							<a class="trip__btn" tuiButton [routerLink]="['/trip-create', {lat: subject.lat, lon: subject.lon}]">Go on trip!</a>
					</tui-island>
</div>
<div class="container"
	infiniteScroll
	[infiniteScrollDistance]="2"
	[infiniteScrollThrottle]="50"
	(scrolled)="onScroll()"
    [scrollWindow]="false"
	*ngIf="!isDesktop"
>
					<tui-island class="city_mob" *ngFor="let subject of getFilteredSubjects()">
						<p class="tui-island__category">Russia</p>
						<h3 class="tui-island__title">{{subject.name}}</h3>
						<div class="citypic__container">
							<img class="citypic" src="{{subject.pic}}" />
						</div>
						<p class="tui-island__paragraph">
							{{subject.desc}}
						</p>
							<a class="trip__btn" tuiButton [routerLink]="['/trip-create', {lat: subject.lat, lon: subject.lon}]">Go on trip!</a>
					</tui-island>
</div>