@import '~@taiga-ui/core/styles/taiga-ui-local';


.container {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
	width: 100%;
	overflow-y: scroll;
}

.city {
    min-width: 32rem;
    max-width: 32rem;
	max-height: 40rem;
    margin: 2rem;
	background: var(--tui-neutral-bg);
	.shadow(2);
	display: flex;
	flex-direction: column;
}

.city_mob {
    min-width: 16rem;
    max-width: 16rem;
	max-height: 72rem;
    margin: 2rem;
	background: var(--tui-neutral-bg);
	.shadow(2);
	display: flex;
	flex-direction: column;
}

.citypic__container {
	width: 100%;
}

.citypic {
    display: block;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
    width: 8rem;
	height: 8rem;
}

.trip__btn {
	width: 100%;
	margin-top: auto;
	padding-top: 1rem;
	align-self: flex-end;
}