<tui-root (window:resize)="onResize($event)">
	<div class="app_component">
		<header class="header" id="header">
			<nav class="navbar">
				<div class="title">
					<img class="logo" src="assets/logo.svg" />
					<h1 class="tui-text_h3"><a tuiLink routerLink="/home">{{ title }}</a></h1>
				</div>
					<div *ngIf="weather && isOnTrip() && isDesktop" class="weather">
					  <div class="weather_block">
						<h3>Today</h3>
						<h2><i class="wi {{getIcon(weather.week[0])}}"></i>{{weather.week[0].feelsLikeTemp.day}}°C</h2>
					  </div>
					  <div class="weather_block">
						<h3>Tomorrow</h3>
						<h2><i class="wi {{getIcon(weather.week[1])}}"></i>{{weather.week[1].feelsLikeTemp.day}}°C</h2>
					  </div>
					  <div class="weather_block">
						<h3>Day after tomorrow</h3>
						<h2><i class="wi {{getIcon(weather.week[2])}}"></i>{{weather.week[2].feelsLikeTemp.day}}°C</h2>
					  </div>
					  <div class="weather_block">
						<h3>Sunrise</h3>
						<h2><i class="wi wi-sunrise"></i>{{format_time(weather.week[0].sunrise)}}</h2>
					  </div>
					  <div class="weather_block">
						<h3>Sunset</h3>
						<h2><i class="wi wi-sunset"></i>{{format_time(weather.week[0].sunset)}}</h2>
					  </div>
					</div>
				<tui-avatar onclick="location.href='/#/user-info';"
					*ngIf="userName"
					[text]="userName"
					size="m"
					class="avatar"
					[rounded]="true"
				></tui-avatar>
			</nav>
		</header>
		<div class="main_content" [style.max-height.%]="[maxHeight]">
			<router-outlet></router-outlet>
		</div>
	</div>
</tui-root>
