@import '~normalize.css/normalize.css';
@import '~@taiga-ui/core/styles/taiga-ui-local';


.app_component {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.weather_block {
    display: flex;
    flex-flow: column;
	align-items: center;
	justify-content: start;
}

.weather_block * {
	margin: 0rem;
}

.header {
    flex: 0 1 auto;
    padding: 0 2rem;
    align-items: center;
    color: var(--tui-text-01);
    background: var(--tui-base-02);
    .inset-border(bottom, var(--tui-text-01));
	.shadow(2)
}

.main_content {
    flex: 1 1 auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    display: flex;
    flex-flow: row;
    align-items: center;
    /* min-width: 15.625rem; */
}

.logo {
    width: 100%;
    height: 2rem;
	padding-right: 1rem;
}

.avatar {
    float: right;
	cursor: pointer;
}

.weather {
    display: flex;
    flex-flow: row;
	gap: 2rem;
	color: #526ed0;
}

.weather * i:first-child {
	margin-right: 0.5rem;
}