@import '~@taiga-ui/core/styles/taiga-ui-local';


.user_info__edit_qiwiname {
    max-width: 24rem;
    margin: auto;
	
	position: relative;
    top: 50%;
    transform: translateY(0%); /* or try 50% */
	
}

.form-title {
    text-align: center
}

.btn-submit {
    width: 100%;
}

.error {
	zoom: 1.2;
}

.success {
    position: relative;
    color: var(--tui-success-fill);
}
