<div class="user_info__edit_qiwiname">
		<form [formGroup]="editForm" (ngSubmit)="onSubmit()" >
			<ng-template #success>
				<tui-svg src="tuiIconCheckLarge" class="success tui-space_left-3"></tui-svg>
			</ng-template>
			<h1 class="tui-text_h3 form-title">Edit Wallet</h1>
			<p>
				<tui-input formControlName="qiwiNameControl"
						   tuiHintContent="Type your new wallet"
						   [tuiTextfieldCleaner]="false"
						   [tuiTextfieldCustomContent]="editForm.controls['qiwiNameControl'].valid ? success : ''"
						   [(ngModel)]="user.qiwiName"

				>
					New Wallet&nbsp;<span class="tui-required"></span>
				</tui-input>
				<tui-field-error formControlName="qiwiNameControl"></tui-field-error>
			</p>
			<div class="error">
				<tui-error [error]="error"
				>
					<br/>
				</tui-error>
			</div>
			<p>
				<button
					tuiButton
					type="submit"
					class="tui-form__button btn-submit"
					[disabled]="!editForm.valid"
				>
					Set
				</button>
			</p>
		</form>
	</div>